/*----------------------------------------
    16. Collection CSS
/*----------------------------------------*/

.collection__content {
    left: 0;
    right: 0;
    top: 50%;
    @include transform(translateY(-50%));
    text-align: center;
    & h2 {
        font-size: 4.8rem;
        margin-bottom: 20px;
    }
    & p {
        max-width: 330px;
        margin: auto;
        margin-bottom: 20px;
    }
}