/*----------------------------------------
    09. Step CSS
/*----------------------------------------*/

.step-area {
    overflow: hidden;
    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8)
    }
}

.step__bg--img {
    left: -18%;
    top: 0;
    z-index: -1;
    & img {
        height: 100%;
    }
}

.step__bg--img-2 {
    right: -18%;
    top: 0;
    z-index: -1;
}

.step-item {
    position: relative;
    z-index: 1;
    & span {
        font-size: 120px;
        color: $golden;
        font-weight: 900;
        line-height: 100px;
        margin-bottom: 15px;
        display: inline-block;
    }
    & h3 {
        margin-bottom: 10px;
    }
    &:hover {
        & span {
            @include transform(translateY(-10px));
        }
    }
}